@use "../abstracts/variables" as vars;

// chip
.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid vars.$primary-color;
  border-radius: 1.5rem;
  background-color: #fff;
  color: vars.$primary-color;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;

  // chip--active
  &--active {
    background-color: vars.$primary-color;
    color: #fff;
  }
}

// chip-group
.chip-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
